{% extends "ProyectoWebApp/base.html" %}

{% block content %}
<!-- Contenedor general para las tarjetas -->
<div class="container">
    <div style="float: right;">
        <p style="color: white; float: right; text-align: right;">Total: {{importe_total_carro}}</p>
    </div>

    <!-- contenedor para las dilas -->
    <div class="row">
        {% for producto in productos %}
            <!-- contenedor para las columnas -->
            <div class="col-md-3">
                <!-- creacion de las tarjetas -->
                <div class="card" style="margin: 5px 5px; width: 250px; height: 300;">
                    <img src="{{producto.imagen.url}}" class="card-img-top" style="height: 200px; width: 150px; align-self: center;">
                    <div class="card-body" style="text-align: center;">
                        <h7 class="card-title">{{producto.nombre}}</h7>
                        <p class="card-text">$&nbsp;{{producto.precio}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-success">Agregar al carro</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}