

body{
  margin: 0;
  padding: 0;
  background-color:white;
  margin: 1.7em;
}

.gallery{
  columns: 6 120px;
  column-gap: 1em;
}

#navbar-pinterest{
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  background: white;
  height: 75px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1;
}

.img_contenedor {
  width: 4%;	
  display: flex;
}

#pinterest-icon{ 
  display: flex;
  position: relative;
  height: 50%;
  top:30%;
  left:40%;
}

#pinterest-icon img{ 
  display: flex;
  height: 75%;
}

#cobertor {
  width: 6%;
  background: black;  
  border-radius: 25px;
  margin: 15px;
  height: 60%;
}

.inicio{
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.hoy{
  width: 5%;
  padding: 20px 0;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.crear{
  width: 50%;
  /* height: 28px; */
  font-size: 16px;
  font-weight: bold;
  float: left;
  cursor: pointer;
}

#cobertorCrear {
  display: flex;
  width: 6%;
  display:inline-block;
  padding: 20px 0;
  justify-content: center;
}

#pin{
  background-image: url(assets/options.PNG);
  width: 50%;
  height: 22px;
  float: right;
  margin-top: -8%;
  cursor: pointer;
}

.busqueda{
  display: flex;
  width: 60%;
  margin-top: 1%;
  margin-left: 0.5%;
  height: 60%;
  border-radius: 30px;
  border-style: block;
  background-color: rgb(226, 226, 226);
}

.finder{
  display: flex;
  border: none;
  width: 95%;
  border-radius: 30px;
  background-color: rgb(226, 226, 226)
}

.material-icons{
  display: flex;
  margin-left: 2%;
  color: rgb(120, 121, 121);
  margin-top: 1%;
}

/* .material-icons-outlined{ */
  /* display: flex; */
  /* margin: -19px; */
/* }  */

/* input:focus{ */
  /* outline: none; */
  /* box-shadow: 0 1px 6px 0px transparent; */
/* } */
  
.contenedorIconos {
  display: flex;
  width: 4%;
  margin-top: 1%;
  margin-left: 1%;
}

#notifications{
  background-image: url(assets/notificaciones.PNG);
  background-repeat: no-repeat;
  width: 80%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  width: 60%;
  height: 60%;
}

#message{
  background-image: url(assets/mensajes.PNG);
  background-repeat: no-repeat;
  width: 80%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  width: 60%;
  height: 60%;
}

#profile-img{
  background-image: url(assets/perfil.PNG);
  background-repeat: no-repeat;
  width: 80%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  width: 60%;
  height: 60%;
}

#options{
  background-image: url(assets/options.PNG);
  background-repeat: no-repeat;
  width: 80%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  width: 60%;
  height: 60%;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image{
  position: relative;
}

.card-image img{
  transition: all 300ms ease-out;
  width: 100%;
  margin-top: 3em;
  border-radius: 1em;
}

.button-guardar1{
  font-family: 'Source Sans Pro', sans-serif;
  width: 32%;
  height: 14%;
  border-radius: 25px;
  margin-top: -120%;
  margin-left: 62%;
  font-size: 15px;
  color: white;
  background-color: red;
  border: none;
  position: absolute;
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.button-guardar1{
  cursor: pointer;
}

.card-image:hover{
  filter: brightness(.50);
  cursor: zoom-in;
}

.card-image:hover > .button-guardar1{
  opacity: 1;
  visibility: visible;
}

@media (max-width:700px){
  .busqueda{
   margin-top: 2em;
   margin-left: 1em;
  }
}























